$breakpoint-xs: 30rem; // Extra pequeno (smartphones)
$breakpoint-sm: 48rem; // Pequeno (tablets)
$breakpoint-md: 64rem; // Médio (laptops)
$breakpoint-lg: 80rem; // Grande (desktops)
$breakpoint-xl: 90rem; // Extra grande (monitores maiores)
