<aside class="sidebar">
  <div class="sidebar__header">
    <div class="sidebar__title">
      <div class="sidebar__profile">F</div>
      <span>{{ username() }}</span>
    </div>
  </div>

  <div class="sidebar__section">
    <span class="sidebar__subtitle">Páginas</span>

    @for (item of navigationItems; track item.route) {
    <app-button
      variant="text"
      size="small"
      justify="left"
      [suffixIcon]="item.icon"
      [block]="true"
      (click)="item.handleClick()"
    >
      {{ item.label }}
    </app-button>
    }
  </div>
</aside>
