@use "sass:map" as map;
@use "tokens" as *;
@use "mixins" as *;

@mixin variant($color, $background, $border-color) {
  color: $color;
  background: $background;
  border: 0.0625rem solid $border-color;
}

.button {
  cursor: pointer;
  font-family: $font-family;

  box-sizing: border-box;
  height: 2rem;
  padding: 0.25rem 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: map.get($map: $gap, $key: md);

  color: $text-default;

  border-radius: 0.375rem;

  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);

  @include transition;

  @include variant($text-default, transparent, $background-contrast);

  &:hover {
    @include variant($primary, transparent, $primary);
  }

  &:disabled {
    cursor: not-allowed;

    @include variant(
      $text-disabled,
      $background-contrast,
      $background-contrast
    );

    &:hover {
      @include variant(
        $text-disabled,
        $background-contrast,
        $background-contrast
      );
    }
  }

  &--primary {
    @include variant($on-primary, $primary, $primary);

    &:hover {
      @include variant($on-primary, $primary-hover, $primary-hover);
    }

    &:disabled {
      cursor: not-allowed;

      @include variant(
        $text-disabled,
        $background-contrast,
        $background-contrast
      );

      &:hover {
        @include variant(
          $text-disabled,
          $background-contrast,
          $background-contrast
        );
      }
    }
  }

  &--link {
    box-shadow: none;

    @include variant($primary, transparent, transparent);

    &:hover {
      @include variant($primary-hover, transparent, transparent);
    }

    &:disabled {
      cursor: not-allowed;

      @include variant($text-disabled, transparent, transparent);

      &:hover {
        @include variant($text-disabled, transparent, transparent);
      }
    }
  }

  &--text {
    box-shadow: none;

    @include variant($text-default, transparent, transparent);

    &:hover {
      border-color: transparent;

      @include variant($text-default, $background-hover, transparent);
    }

    &:disabled {
      cursor: not-allowed;

      @include variant($text-disabled, transparent, transparent);

      &:hover {
        @include variant($text-disabled, transparent, transparent);
      }
    }
  }

  &--icon-only {
    width: 2rem;
    padding: 0.25rem;
  }

  &--small {
    height: 1.75rem;
    padding: 0.375rem 0.5rem;
    gap: map.get($map: $gap, $key: sm);

    @include body-small;
  }

  &--small.button--icon-only {
    width: 1.75rem;
    height: 1.75rem;
  }

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--block {
    width: 100%;
  }

  &__text {
    @include body-small;
  }
}
