@use "tokens" as *;

@use "mixins" as *;

.button {
  cursor: pointer;

  box-sizing: border-box;
  height: 2rem;
  padding: 0.25rem 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: map-get($map: $gap, $key: md);

  color: $default;

  border: 0.0625rem solid $border-default;
  border-radius: 0.375rem;

  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);

  @include transition();

  &:hover {
    color: $primary;
    border-color: $border-primary;
  }

  &:disabled {
    cursor: not-allowed;

    color: $border-default;
    background: #0000000a;
    border-color: $border-default;

    &:hover {
      color: $border-default;
      background: #0000000a;
      border-color: $border-default;
    }
  }

  &--block {
    width: 100%;
  }

  &--icon-only {
    width: 2rem;
    padding: 0.25rem;
  }

  &--primary {
    background: $primary;
    color: $on-primary;
    border-color: $border-primary;

    &:hover {
      background: $on-primary-container;
      color: $on-primary;
      border-color: $border-primary-hover;
    }
  }

  &--link {
    background: transparent;
    color: $primary;
    border-color: transparent;
    box-shadow: none;

    &:hover {
      background: transparent;
      color: $on-primary-container;
      border-color: transparent;
    }

    &:disabled {
      color: $border-default;
      background: transparent;
      border-color: transparent;

      &:hover {
        color: $border-default;
        background: transparent;
        border-color: transparent;
      }
    }
  }

  &--text {
    background: transparent;
    border-color: transparent;
    box-shadow: none;

    &:hover {
      background: transparent;
      color: $on-primary-container;
      border-color: transparent;
    }

    &:disabled {
      color: $border-default;
      background: transparent;
      border-color: transparent;

      &:hover {
        color: $border-default;
        background: transparent;
        border-color: transparent;
      }
    }
  }

  &__icon {
    width: 1.125rem;
    height: 1.125rem;
  }

  &__text {
    @include body-small();
  }
}
