<button
  #button
  class="button"
  [ngClass]="{
    'button--primary': variant === 'primary',
    'button--link': variant === 'link',
    'button--text': variant === 'text',
    'button--block': block,
    'button--disabled': disabled,
    'button--icon-only': isIconOnly
  }"
  [disabled]="disabled"
>
  <app-icon
    class="button__icon"
    [name]="suffixIcon"
    [size]="18"
    *ngIf="suffixIcon"
  ></app-icon>

  <span class="button__text" *ngIf="!isIconOnly" #textContainer>
    <ng-content></ng-content>
  </span>
</button>
