@import "tokens";
@import "mixins";

.card {
  width: 100%;
  padding: map-get($map: $padding, $key: lg);

  display: inline-block;

  background-color: $background;
  border-radius: 8px;

  box-shadow: 0px 2.5px 5px 0px rgba(0, 0, 0, 0.1);

  &__content {
    display: flex;
    flex-direction: column;
    gap: map-get($map: $gap, $key: md);
  }
}
