@import "tokens";
@import "mixins";

.layout {
  width: 100vw;
  height: 100vh;

  background-color: $background;

  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "sidebar content content";

  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;

  & > * {
    box-sizing: border-box;
  }

  &__header {
    grid-area: header;
  }

  &__sidebar {
    grid-area: sidebar;
  }

  &__content {
    grid-area: content;
  }
}
