<header class="layout__header header">
  <div class="header__sidebar-control">
    <app-icon
      class="header__icon header__icon--clickable"
      name="menu"
      [size]="18"
    ></app-icon>

    <div class="header__title">
      <app-icon
        class="header__icon header__icon--logo"
        name="notepad"
        [size]="18"
      ></app-icon>
      <h4>NotePad</h4>
    </div>
  </div>

  <div class="header__profile">
    <div class="header__user">
      <h4>{{ username }}</h4>
    </div>

    <app-tooltip text="Logout" placement="bottom">
      <app-button
        suffixIcon="exit"
        variant="text"
        (click)="handleSignOut()"
      ></app-button>
    </app-tooltip>
  </div>
</header>
