@import "tokens";
@import "mixins";

.header {
  width: 100%;
  height: 4rem;

  padding: 0 map-get($map: $padding, $key: lg);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: map-get($map: $gap, $key: xl);

  &__sidebar-control {
    display: flex;
    align-items: center;
    gap: map-get($map: $gap, $key: lg);
  }

  &__icon {
    width: 1.125rem;
    height: 1.125rem;

    &--clickable {
      cursor: pointer;
    }

    &--logo {
      color: $primary;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    gap: map-get($map: $gap, $key: md);

    & > h4 {
      cursor: default;
      user-select: none;

      @include h6($font-weight-bold);
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    gap: map-get($map: $gap, $key: md);
  }

  &__user {
    & > h4 {
      @include body-small();
    }
  }
}
