<header class="layout__header header">
  <div class="header__sidebar-control">
    <mat-icon
      class="header__icon header__icon--clickable"
      svgIcon="custom-menu"
      (click)="onClick()"
    ></mat-icon>

    <div class="header__title">
      <mat-icon
        class="header__icon header__icon--logo"
        svgIcon="custom-notepad"
      ></mat-icon>
      <h4>NotePad</h4>
    </div>
  </div>

  <div class="header__profile">
    <div class="header__user">
      <h4>{{ username }}</h4>
    </div>

    <app-tooltip text="Logout" placement="bottom">
      <app-button
        [variant]="'text'"
        [suffixIcon]="'custom-exit'"
        (click)="onSignOut()"
      ></app-button>
    </app-tooltip>
  </div>
</header>
