@use "sass:map" as map;
@use "tokens" as *;
@use "mixins" as *;

.home {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: map.get($map: $gap, $key: xl);
}

.section {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: map.get($map: $gap, $key: md);

  &__header {
    display: flex;
    align-items: center;
    gap: map.get($map: $gap, $key: md);

    color: $text-muted;
  }

  &__icon {
    width: 0.875rem;
    height: 0.875rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    @include body-small($font-weight-bold);

    font-size: 0.75rem;
  }

  &__panel {
    width: 100%;
    height: auto;

    display: flex;
    gap: map.get($map: $gap, $key: md);
  }
}

.page {
  cursor: pointer;

  width: 9rem;
  height: auto;

  border: 1px solid $background-contrast;
  border-radius: 1rem;

  @include transition;

  &:hover {
    border-color: $primary;

    .page {
      &__icon {
        color: $primary;
      }
    }
  }

  &__background {
    position: relative;

    width: 100%;
    min-height: 40px;

    background-color: rgba(84, 72, 49, 0.04);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
  }

  &__icon {
    position: absolute;

    color: $text-muted;

    bottom: -0.5rem;
    left: 1rem;
  }

  &__label {
    width: 100%;
    min-height: 64px;

    margin-top: 0.5rem;
    padding: map.get($map: $padding, $key: md);
    padding-inline: map.get($map: $padding, $key: lg);

    span {
      @include body-small($font-weight-semi-bold);
    }
  }
}
