<div class="home">
  <div class="home__section section">
    <div class="section__header">
      <div class="section__icon">
        <app-icon name="clock" [size]="12"></app-icon>
      </div>
      <div class="section__title">Acesso recente</div>
    </div>

    <div class="home__last-access">last access</div>
  </div>

  <div class="home__section section">
    <div class="section__header">
      <div class="section__icon">
        <app-icon name="calendar" [size]="12"></app-icon>
      </div>
      <div class="section__title">Próximos eventos</div>
    </div>

    <div class="home__last-access">last access</div>
  </div>
</div>
