<div class="input" [ngClass]="{ 'input--full': full }">
  <label class="input__label" [for]="id" *ngIf="label">
    {{ label }}
  </label>

  <input
    #input
    class="input__field"
    [ngClass]="{
      'input__field--full': full,
      'input__field--error': showError && error,
      'input__field--large': size === 'large',
      'input__field--borderless': variant === 'borderless',
    }"
    [id]="id"
    [value]="value"
    [type]="type"
    [placeholder]="placeholder"
    (input)="handleInput($event)"
    (blur)="handleBlur()"
    (focus)="handleFocus()"
  />

  <div class="input__error" *ngIf="showError && error">
    {{ error }}
  </div>
</div>
