<div class="input" [ngClass]="{ 'input--full': full }">
  @if (label) {
  <label class="input__label" [for]="id">
    {{ label }}
  </label>
  }

  <input
    #input
    class="input__field"
    [ngClass]="{
      'input__field--full': full,
      'input__field--error': showError && error,
      'input__field--large': size === 'large',
      'input__field--borderless': variant === 'borderless',
    }"
    [id]="id"
    [value]="value"
    [type]="type"
    [placeholder]="placeholder"
    (input)="onInput($event)"
    (blur)="onBlur()"
    (focus)="onFocus()"
  />

  @if (showError && error) {
  <div class="input__error">
    {{ error }}
  </div>
  }
</div>
