@use "sass:map" as map;
@use "tokens" as *;
@use "mixins" as *;

.input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: map.get($map: $gap, $key: md);

  &--full {
    width: 100%;
  }

  &__label {
    @include body-small;
  }

  &__field {
    height: 2rem;
    padding: 0.25rem 0.75rem;

    border: 0.0625rem solid $border-default;
    border-radius: 0.375rem;
    color: $font-default-color;

    @include body-small;
    @include transition;

    &--full {
      width: 100%;
    }

    &--error {
      border-color: $error;
    }

    &--large {
      height: 3rem;
    }

    &--borderless {
      border: none;

      &:focus-within {
        box-shadow: none !important;
      }
    }

    &:hover {
      border-color: $primary;
    }

    &:focus-within {
      border-color: $primary;
      box-shadow: 0 0 0 2px rgba(107, 141, 242, 0.2),
        0 2px 8px rgba(107, 141, 242, 0.15);
    }

    &::placeholder {
      color: $font-placeholder-color;
      opacity: 1; /* Firefox */
    }
  }

  &__error {
    color: $error;

    @include body-small;
  }
}
