@use "tokens" as *;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

html,
body {
  height: 100%;
  font-family: $font-family;
  background-color: $background;
  color: $font-default-color;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $on-background;
  border-radius: 0.1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: none;
}
