@use "sass:map" as map;
@use "tokens" as *;

.p-drawer {
  background-color: $background !important; // sobrescrevendo o fundo do drawer
  color: $text-default !important;

  border: none !important;
}

.p-drawer-header {
  padding: map.get($map: $padding, $key: lg) !important;
}

.p-drawer-content {
  padding: 0 map.get($map: $padding, $key: lg) map.get($map: $padding, $key: lg)
    map.get($map: $padding, $key: lg) !important;
}

.p-tooltip {
  transition: none !important;
}

.p-tooltip-text {
  padding: 0.4rem !important;
}

.p-tooltip-arrow {
  display: none !important;
}

.p-breadcrumb {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
