@import "tokens";

@mixin h1($weight: $font-weight-bold) {
  font-size: $font-size-h1;
  font-weight: $weight;
  line-height: $line-height-h1;
}

@mixin h2($weight: $font-weight-bold) {
  font-size: $font-size-h2;
  font-weight: $weight;
  line-height: $line-height-h2;
}

@mixin h3($weight: $font-weight-bold) {
  font-size: $font-size-h3;
  font-weight: $weight;
  line-height: $line-height-h3;
}

@mixin h4($weight: $font-weight-bold) {
  font-size: $font-size-h4;
  font-weight: $weight;
  line-height: $line-height-h4;
}

@mixin h5($weight: $font-weight-bold) {
  font-size: $font-size-h5;
  font-weight: $weight;
  line-height: $line-height-h5;
}

@mixin h6($weight: $font-weight-bold) {
  font-size: $font-size-h6;
  font-weight: $weight;
  line-height: $line-height-h6;
}
