@use "tokens" as *;

.app {
  &__header {
    grid-area: header;
  }

  &__sidebar {
    grid-area: sidebar;
  }

  &__content {
    grid-area: content;

    width: 100%;
    height: 100%;

    padding: map-get($map: $padding, $key: lg);

    background-color: $background-container;

    overflow: auto;
  }
}
