@import "tokens";

.layout {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "sidebar content content content"
    "sidebar content content content";

  &__header {
    grid-area: header;

    max-height: fit-content;
  }

  &__sidebar {
    grid-area: sidebar;

    max-width: fit-content;
  }

  &__content {
    grid-area: content;

    padding-inline: map-get($map: $padding, $key: lg);
  }
}
