$line-height-h1: 3.5rem;
$line-height-h2: 3rem;
$line-height-h3: 2.5rem;
$line-height-h4: 2rem;
$line-height-h5: 1.75rem;
$line-height-h6: 1.5rem;

$line-height-body-large: 1.75rem;
$line-height-body-regular: 1.5rem;
$line-height-body-small: 1.25rem;

$line-height-caption: 1rem;
$line-height-overline: 0.875rem;
$line-height-button: 1.5rem;
