$font-size-h1: 3rem;
$font-size-h2: 2.5rem;
$font-size-h3: 2rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;

$font-size-body-large: 1.125rem;
$font-size-body-regular: 1rem;
$font-size-body-small: 0.875rem;

$font-size-caption: 0.75rem;
$font-size-overline: 0.625rem;
$font-size-button: 1rem;
