<p-drawer
  styleClass="drawer"
  position="right"
  [style]="{ width: '600px', borderRadius: '5px' }"
  [closable]="false"
  (onHide)="onClose()"
  [(visible)]="opened"
>
  <ng-template #header>
    <div class="drawer__header">
      <div class="drawer__close" (mousedown)="toogle()">
        <app-tooltip text="Fechar" helper="Esc" placement="bottom">
          <mat-icon
            class="drawer__icon"
            svgIcon="custom-double-right"
          ></mat-icon>
        </app-tooltip>
      </div>
    </div>
  </ng-template>

  <ng-content></ng-content>
</p-drawer>
