<p-drawer
  styleClass="drawer"
  position="right"
  [style]="{ width: '600px', borderRadius: '5px' }"
  [closable]="false"
  (onHide)="handleClose()"
  [(visible)]="opened"
>
  <ng-template #header>
    <div class="drawer__header" header>
      <app-tooltip text="Fechar" helper="Esc" placement="bottom">
        <app-button
          suffixIcon="double-right"
          variant="text"
          size="small"
          (click)="toogle()"
        ></app-button>
      </app-tooltip>
    </div>
  </ng-template>

  <ng-content></ng-content>

  <ng-template #footer>
    <div class="drawer__footer">
      <ng-content select="[footer]"></ng-content>
    </div>
  </ng-template>
</p-drawer>
