@use "tokens" as *;
@use "mixins" as *;

.drawer {
  &__header {
    width: 100%;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    @include body-regular;

    font-weight: $font-weight-semi-bold;
  }

  &__close {
    cursor: pointer;

    width: 1.25rem;
    height: 1.25rem;

    border-radius: 5px;

    color: $font-default-color;

    @include transition;

    &:hover {
      background-color: $background-container;
    }
  }

  &__icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}
