<div class="sign-in">
  <div class="sign-in__wrapper">
    <div class="sign-in__container">
      <div class="sign-in__title">
        <h4>Acesse sua conta</h4>
      </div>

      @if (error) {
      <div class="sign-in__error">
        <p>{{ error }}</p>
      </div>
      }

      <form class="sign-in__form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-input
          [id]="'email'"
          [label]="'E-mail: '"
          formControlName="email"
          [error]="getErrorMessage('email')"
          [showError]="form.get('email')?.touched"
        />

        <app-input
          [id]="'password'"
          [label]="'Senha: '"
          [type]="'password'"
          formControlName="password"
          [error]="getErrorMessage('password')"
          [showError]="form.get('password')?.touched"
        />

        <app-button
          class="sign-in__submit"
          type="submit"
          [variant]="'primary'"
          [block]="true"
          [disabled]="form.invalid || !!(loadingStore.isLoading$ | async)"
        >
          {{ !!(loadingStore.isLoading$ | async) ? "Entrando..." : "Enviar" }}
        </app-button>
      </form>

      <app-button
        class="sign-in__forgot-password"
        [variant]="'link'"
        (click)="onClickForgotPassword()"
      >
        Esqueci minha senha
      </app-button>
    </div>
  </div>
</div>
