@use "tokens" as *;

@mixin reset-padding {
  padding: 0 !important;
}

@mixin custom-padding($padding: $padding) {
  padding: map-get($map: $padding, $key: lg);
}

::ng-deep .mat-mdc-dialog-surface {
  @include reset-padding;

  border-radius: 0.25rem;
  background-color: $background;
}

::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-content {
  @include custom-padding;
}

::ng-deep .mat-mdc-dialog-actions {
  min-height: unset;

  @include custom-padding;
}
