<app-dialog>
  <div class="add-note">
    <app-input
      placeholder="Título"
      variant="borderless"
      [full]="true"
      (inputChange)="onTitleChange($event)"
    ></app-input>
    <app-text-editor
      class="add-note__editor"
      placeholder="Digite sua nota"
      (contentChange)="onEditorChange($event)"
    ></app-text-editor>
  </div>

  <ng-content #footer>
    <div class="add-note__footer">
      <div class="add-note__options">
        <app-menu
          [items]="addNoteOptions"
          (itemSelected)="onMenuSelectionClick($event)"
        >
          <app-button suffixIcon="custom-options" variant="text"></app-button>
        </app-menu>
      </div>

      <app-button (click)="onSave()">Salvar</app-button>
    </div>
  </ng-content>
</app-dialog>
