@use "tokens" as *;

:host {
  width: 100%;
}

::ng-deep .input {
  &__field {
    padding-inline: 0 !important;
  }
}

.add-note {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  &__editor {
    padding-inline: 0;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
