@use "sass:map" as map;
@use "tokens" as *;

.notepad {
  width: 100vw;
  height: 100%;
  display: flex;

  &__wrapper {
    width: 100%;
    height: 100%;

    padding-inline: map.get($map: $padding, $key: lg);

    display: flex;
    flex-direction: column;

    overflow: auto;
  }
}
