<app-drawer #drawer title="Nota" (closed)="handleClose()">
  <div class="note-modal">
    <div class="note-modal__config">
      <app-input
        class="note-modal__title"
        variant="borderless"
        placeholder="Nova nota"
      ></app-input>

      <div class="note-modal__tags tags">
        <div class="tags__label"><span>Marcadores</span></div>
        <app-tag-select
          class="tags__select"
          [options]="[
            { id: '1', label: 'Desenvolvimento' },
            { id: '2', label: 'Diversão' },
            { id: '3', label: 'Importante' }
          ]"
        ></app-tag-select>
      </div>
    </div>

    <app-text-editor class="note-modal__editor"></app-text-editor>
  </div>
</app-drawer>
