@use "tokens" as *;

@use "mixins" as *;

:host {
  width: 100%;
}

.grid {
  &__container {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14.875rem, 1fr));
    gap: map-get($map: $gap, $key: lg);
  }

  &__card {
    width: 100%;
    height: fit-content;

    border-radius: 0.25rem;

    background-color: #ffffff;

    @include transition(box-shadow);

    &:hover {
      box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.2);
    }
  }

  &__container.cdk-drop-list-dragging &__card:not(.cdk-drag-placeholder) {
    @include transition();
  }
}

/* Estilo enquanto arrasta */
.cdk-drag-preview {
  box-shadow: 0 0.0625rem 0.25rem rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

.cdk-drag-placeholder {
  visibility: hidden; /* Oculta o espaço do item arrastado */
}

.cdk-drag-animating {
  @include transition();
}
