// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// My Style
@use "base" as *;
@use "tokens" as *;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$angular-notepad-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($angular-notepad-theme);

  @include mat.menu-overrides(
    (
      container-color: $background,

      item-label-text-font: $font-family,
      item-label-text-size: $font-size-body-small,
      item-label-text-line-height: $line-height-body-small,
      item-label-text-weight: $font-weight-regular,

      item-icon-color: $default,
      item-label-text-color: $default,
    )
  );
}
