@use "sass:map" as map;
@use "tokens" as *;
@use "mixins" as *;

.breadcrumb {
  width: fit-content;
  height: auto;

  @include body-small;

  &__item {
    cursor: pointer;
    color: $text-default;
  }

  &__separator {
    color: $text-muted;
  }
}
